MYSQL_ROOT_PASSWORD=your_mysql_password

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_rabbitmq_password

MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password
MAIL_FROM=your_email@gmail.com